body {
  font-family: "Roboto", sans-serif;
}
.container {
  display: block;
  max-width: 60%;
  margin-top: 20px;
  margin-bottom: 20px;
  border: solid 2px blue;
  border-radius: 8px;
  background: radial-gradient(
    circle at 10% 20%,
    rgb(239, 246, 249) 0%,
    rgb(206, 239, 253) 90%
  );
}
input {
  margin: 10px 0;
  border: solid 1px blue;
  color: blue;
  padding: 5px 10px;
}
button {
  margin: 10px 0;
  padding: 5px 10px;
}
h1 {
  margin: 0;
}
i {
  font-size: 50px;
}
.col.main {
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  color: blue;
}
.celsium {
  color: blue;
  transition: all 150ms ease-in-out;
}
.celsium:hover {
  cursor: pointer;
}
a {
  text-decoration: none;
  color: blueviolet;
}
.fahrenheit {
  color: blueviolet;
  transition: all 150ms ease-in-out;
}
.fahrenheit:hover {
  cursor: pointer;
}
ul {
  list-style: none;
}
.col {
  text-align: right;
  color: blue;
  font-size: 18px;
  font-weight: bold;
}
.col-1 {
  display: block;
  margin: 0 auto;
  text-align: center;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
  color: blue;
  font-size: 20px;
  transition: all 150ms ease-in-out;
}
.col-1:hover {
  cursor: pointer;
}
.fa-solid.fa-cloud-showers-heavy {
  font-size: 50px;
  color: rgb(45, 153, 224);
}
.fa-solid.fa-cloud-showers-water {
  font-size: 50px;
  color: rgb(45, 153, 224);
}
.aLink {
  text-decoration: none;
  color: blue;
}
.conecting {
  margin: 0 auto;
  display: block;
  max-width: 60%;
}
