body {
  font-family: "Roboto", sans-serif;
}

input {
  margin: 10px 0;
  border: solid 1px blue;
  color: blue;
  padding: 5px 10px;
}

button {
  margin: 10px 0;
  padding: 5px 10px;
}

h1 {
  margin: 0;
}

i {
  font-size: 50px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.active {
  text-decoration: none;
  cursor: default;
  color: rgb(0, 0, 0);
}
.active:hover {
  text-decoration: none;
}

.container {
  display: block;
  max-width: 60%;
  margin-top: 20px;
  margin-bottom: 20px;
  border: solid 2px blue;
  border-radius: 8px;
}

.col.main {
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  color: blue;
}

.unit {
  font-size: 48px;
}

.col {
  text-align: right;
  color: blue;
  font-size: 18px;
  font-weight: bold;
}
.weatherForecast {
  text-align: center;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
  color: blue;
  font-size: 20px;
  transition: all 150ms ease-in-out;
}
.col-1:hover {
  cursor: pointer;
}
.fa-solid.fa-cloud-showers-heavy {
  font-size: 50px;
  color: rgb(45, 153, 224);
}
.fa-solid.fa-cloud-showers-water {
  font-size: 50px;
  color: rgb(45, 153, 224);
}
.aLink {
  text-decoration: none;
  color: blue;
}
.conecting {
  margin: 0 auto;
  display: block;
  max-width: 60%;
}
